<div class="login-form-header">
  <header class="header">
    <nav class="navbar navbar-expand-lg nav-bar-color fixed-top py-3">
      <div class="row" style="margin: auto;">
      <a href="#" class="navbar-brand text-uppercase font-weight-bold ecommerce-heading">
        <span><%= image_tag "logo", {:style => "width:35px;height:35px;"} %></span>
        <span>Portfolio</span>
      </a>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="#" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Gallery</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Portfolio</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
